h2 {
    color: darkslateblue;
}

thead tr th {
    color: cornflowerblue;
}

tbody tr td img {
    width: 150px;
    height: 150px;
}

.promocion {
    border: 2px solid green;
    background-color: lightgreen;
}