<div>
    <h3>Reserva de Libros</h3>
    <table class="table text-center">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of reserveList$ | async">
                <td>{{book.nombre}}</td>
                <td>{{book.cantidad}}</td>
                <td>${{book.precio}}</td>
            </tr>
        </tbody>
    </table>
    <p>TOTAL: ${{getTotal()}} </p>
</div>